<h1>
  Edit role #<%= @role.id %>
</h1>

<hr>

<form action="/update_role/<%= @role.id %>" method="post">

  <div class="form-group">
    <label for="movied_id">
      Movied
    </label>

    <%= select_tag(:movied_id, options_from_collection_for_select(Movie.all, :id, :title, @role.movied_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="actors_id">
      Actors
    </label>

    <%= select_tag(:actors_id, options_from_collection_for_select(Actor.all, :id, :name, @role.actors_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="characters_id">
      Characters
    </label>

    <input type="text" id="characters_id" name="characters_id" class="form-control" value="<%= @role.characters_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update role
  </button>
</form>

<hr>

<a href="/roles">
  Go back
</a>
