<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Watch list #<%= @watch_list.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/watch_lists" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/watch_lists/<%= @watch_list.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit watch list
        </a>
      </div>

      <div class="col">
        <a href="/delete_watch_list/<%= @watch_list.id %>" class="btn btn-block btn-outline-secondary">
          Delete watch list
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Watchlist
      </dt>
      <dd>
        <%= @watch_list.watchlist_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@watch_list.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@watch_list.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

